RTX 4090 - 850W
RTX 3090 - 750W
Titan RTX - 650W
RTX 4070 Ti - 750W
RTX 4080 - 750W
RX 6800 - 650W
RTX 3080 Ti - 750W
RTX 2080 - 650W
RTX 3080 - 750W
RTX 4070-S (Super) - 750W
RTX 2080S (Super) - 650W
RTX 2070 - 550W
RTX 4070 - 650W
RTX 3060 Ti - 600W
RX 5600 XT - 550W
RTX 3070 Ti - 650W
GTX 1080 Ti - 600W
RTX 3070 - 650W
GTX 980 Ti - 600W
RX 480 - 500W
RX 6600 XT - 550W
RTX 4060 Ti - 600W
GTX 1070 Ti - 500W
RX Vega 56 - 650W
GTX 1080 - 500W
R7 360 - 500W
RTX 4060 - 550W
GTX 1060-3GB - 400W
GTX 1060-6GB - 400W
GTX 1650S (Super) - 350W
RTX 3060 - 550W
RTX 2060 - 500W
RTX 3050 - 450W
GTX 950 - 350W
GTX 1650 - 300W
GTX 1660 Ti - 450W
GTX 1660S (Super) - 450W
GTX 1050 Ti - 300W
GTX 1660 - 450W
GTX 1070 - 500W
GTX 1050 - 300W
RX 6500-XT - 400W
RX 580 - 500W
GTX 260 - 500W
GTX 275 - 550W
GTX 480 - 600W
GTX 460 - 450W
GTX 580 - 600W
GTX 570 - 550W
HD 6950 - 500W
HD 3000 (Desktop V2 1.35 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
GTX 560 Ti - 500W
GTX 550-Ti - 400W
GTX 560 - 450W
FirePro V4900 - 300W
HD 7970 - 550W
HD 7950 - 500W
HD 7870 - 500W
GTX 680 - 550W
HD 7850 - 500W
HD 4000 (Desktop 1.15 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
GTX 670 - 500W
FirePro W9000 - 600W
GTX 660-Ti - 450W
FirePro W7000 - 550W
GTX 650 - 400W
GTX 660 - 450W
GTX 650-Ti - 400W
GTX Titan - 600W
GTX 650 Ti Boost - 450W
GTX 780 - 600W
GTX 770 - 600W
GTX 760 - 500W
HD 4600 (Desktop 1.25 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
Quadro K6000 - 650W
R9 290 - 600W
R9 280X - 600W
R9 270X - 500W
R9 290X - 650W
R9 270 - 500W
GTX 780-Ti - 600W
GTX Titan Black - 600W
GTX 745 (OEM) - 300W
GTX 750 - 300W
R7 265 - 450W
R7 260X - 450W
GTX 750-Ti - 300W
R9 280 - 500W
Mobile Series 4 Express Chipset Family - Интегрированное решение, обычно не требует отдельного блока питания
HD 4000 (Mobile 1.25 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
Quadro 6000 - 600W
GeForce 8600 GT - 300W
Mobility Radeon HD 4650 - Интегрированное решение, обычно не требует отдельного блока питания
Arc B580 - 300W
RTX 4080-S (Super) - 750W
RX 7600-XT - 550W
RTX 4070-TS (Ti-Super) - 650W
Arc A580 - 300W
Radeon 740M - Интегрированное решение, обычно не требует отдельного блока питания
RX 7700-XT - 650W
RX 7800-XT - 650W
RX 7900-GRE - 750W
Radeon 760M - Интегрированное решение, обычно не требует отдельного блока питания
RX 7600 - 550W
RX 7700S - 550W
Arc Graphics X8 (H-iGPU) - Интегрированное решение, обычно не требует отдельного блока питания
RX 7600S - 550W
RTX 4060 (Laptop) - 550W
RTX 4080 (Laptop) - 750W
Radeon 780M - Интегрированное решение, обычно не требует отдельного блока питания
RTX 4090 (Laptop) - 850W
RTX 4070 (Laptop) - 650W
RTX 4050 (Laptop) - 450W
RX 7900-XT - 750W
RX 7900-XTX - 850W
Arc A750 - 300W
GTX 1630 - 300W
RX 6700 - 600W
Arc A770 - 300W
RX 6750-XT - 650W
RX 6650-XT - 550W
RX 6950-XT - 750W
RX 6400 - 300W
RTX 3090-Ti - 850W
RX 6700S (Laptop) - 600W
Arc A380 - 300W
RTX 3080-Ti (Laptop) - 750W
RTX 3070-Ti (Laptop) - 650W
UHD Graphics 770 - Интегрированное решение, обычно не требует отдельного блока питания
RX 6600 - 550W
RX 6700M - 150W
RX 6600M - 100W
RX 6800M - 145W
RTX 3050 (Laptop) - 60W
RTX 3050-Ti (Laptop) - 80W
RX 6700-XT - 650W
UHD Graphics 730 - Интегрированное решение, обычно не требует отдельного блока питания
Iris Xe DG1 - 75W
RTX 3060 (Laptop) - 80W
RTX 3070 (Laptop) - 125W
RTX 3080 (Laptop) - 150W
UHD Graphics 750 - Интегрированное решение, обычно не требует отдельного блока питания
RX Vega 8 5000 (iGPU) - Интегрированное решение, обычно не требует отдельного блока питания
RX 6900-XT - 850W
RX 6800-XT - 750W
Quadro RTX A6000 - 300W
Iris Xe - Интегрированное решение, обычно не требует отдельного блока питания
RTX 2080S (Super Mobile) - 150W
RTX 2070S (Super Mobile) - 115W
RTX 2080S (Super Mobile Max-Q) - 115W
RTX 2070S (Super Mobile Max-Q) - 80W
GTX 1650-Ti (Mobile) - 50W
GeForce MX350 - 25W
RX Vega 8 4000 (iGPU) - Интегрированное решение, обычно не требует отдельного блока питания
RX 5500-XT - 500W
RX 5500 - 450W
Radeon Pro 5300M - 80W
Radeon Pro 5500M - 100W
Iris Plus G4 - Интегрированное решение, обычно не требует отдельного блока питания
UHD G1 - Интегрированное решение, обычно не требует отдельного блока питания
Iris Plus G7 - Интегрированное решение, обычно не требует отдельного блока питания
RX 5700XT 50th Anniversary - 750W
RTX 2060S (Super) - 550W
RTX 2070S (Super) - 600W
RX 5700-XT - 750W
RX 5700 - 600W
GTX 1650 (Mobile Max-Q) - 50W
GTX 1660-Ti (Mobile Max-Q) - 80W
GTX 1660-Ti (Mobile) - 80W
GTX 1650 (Mobile) - 50W
GeForce MX250 - 25W
Quadro RTX 8000 - 295W
GeForce MX230 - 25W
Quadro RTX 6000 - 295W
Quadro RTX 4000 - 160W
Quadro RTX 5000 - 265W
Radeon-VII - 300W
RTX 2080 (Mobile Max-Q) - 80W
RTX 2070 (Mobile Max-Q) - 80W
RTX 2060 (Mobile) - 80W
RTX 2080 (Mobile) - 150W
RTX 2070 (Mobile) - 125W
RX 580-2048SP - 500W
RX 590 - 600W
RTX 2080-Ti - 650W
RX Vega 6 (Ryzen iGPU) - Интегрированное решение, обычно не требует отдельного блока питания
MX110 - 25W
UHD Graphics 605 - Интегрированное решение, обычно не требует отдельного блока питания
RX Vega 3 (Ryzen iGPU) - Интегрированное решение, обычно не требует отдельного блока питания
Radeon RX Vega M GL - 65W
RX Vega 8 (Ryzen iGPU) - Интегрированное решение, обычно не требует отдельного блока питания
MX130 - 25W
RX Vega 10 (Ryzen iGPU) - Интегрированное решение, обычно не требует отдельного блока питания
Radeon RX Vega M GH - 100W
GTX 1050-Ti (Mobile Max-Q) - 50W
UHD Graphics 600 - Интегрированное решение, обычно не требует отдельного блока питания
RX Vega 11 (Ryzen iGPU) - Интегрированное решение, обычно не требует отдельного блока питания
Titan V - 250W
UHD Graphics 630 (Desktop Coffee Lake i3) - Интегрированное решение, обычно не требует отдельного блока питания
UHD Graphics 630 (Desktop Coffee Lake i5 i7) - Интегрированное решение, обычно не требует отдельного блока питания
Radeon 530 - 400W
MX150-0 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon 520 - 400W
RX Vega-64LC (Liquid Cooled) - 750W
RX Vega-64 - 750W
UHD Graphics 620 (Mobile Kaby Lake R) - Интегрированное решение, обычно не требует отдельного блока питания
Radeon 540 - 400W
GTX 1060 (Mobile Max-Q) - 300W
MX150-2 - Интегрированное решение, обычно не требует отдельного блока питания
GTX 1080 (Mobile Max-Q) - 300W
Vega Frontier Edition - 850W
GTX 1070 (Mobile Max-Q) - 300W
GT 1030 - 300W
RX 560 - 450W
Quadro GP100 - 750W
Quadro P1000 - 300W
RX 550 - 400W
Radeon RX 560-B - 450W
RX 570 - 450W
Titan Xp - 600W
Quadro P3000 - 300W
Iris Plus 640 (Mobile Kaby Lake) - Интегрированное решение, обычно не требует отдельного блока питания
Quadro P2000 - 300W
Quadro P4000 - 500W
Quadro P5000-M (Mobile) - 400W
HD 610 (Desktop Kaby Lake) - Интегрированное решение, обычно не требует отдельного блока питания
GTX 1050-Ti (Mobile) - 300W
Iris Plus 650 (Mobile Kaby Lake) - Интегрированное решение, обычно не требует отдельного блока питания
GTX 1050 (Mobile) - 300W
Quadro P5000 - 450W
HD 615 (Mobile Kaby Lake) - Интегрированное решение, обычно не требует отдельного блока питания
Quadro P6000 - 600W
HD 630 (Desktop Kaby Lake) - Интегрированное решение, обычно не требует отдельного блока питания
920MX - Интегрированное решение, обычно не требует отдельного блока питания
GTX 1080 (Mobile) - 400W
GTX 1060 (Mobile) - 300W
GTX 1070 (Mobile) - 300W
Titan X Pascal - 600W
RX 460 - 400W
RX 470 - 500W
930MX - Интегрированное решение, обычно не требует отдельного блока питания
HD 620 (Mobile Kaby Lake) - Интегрированное решение, обычно не требует отдельного блока питания
Quadro M6000 24GB - 600W
Quadro M2000 - 300W
Iris Pro 580 (Mobile Skylake) - Интегрированное решение, обычно не требует отдельного блока питания
Iris 550 (Mobile Skylake) - Интегрированное решение, обычно не требует отдельного блока питания
940MX - Интегрированное решение, обычно не требует отдельного блока питания
HD P530 (Server Skylake) - Интегрированное решение, обычно не требует отдельного блока питания
R9 380X - 500W
R9 Nano - 600W
HD 515 (Mobile Skylake) - Интегрированное решение, обычно не требует отдельного блока питания
HD 510 (Desktop Skylake) - Интегрированное решение, обычно не требует отдельного блока питания
Quadro M4000 - 450W
Iris 540 (Mobile Skylake) - Интегрированное решение, обычно не требует отдельного блока питания
HD 520 (Mobile Skylake) - Интегрированное решение, обычно не требует отдельного блока питания
Quadro M6000 - 600W
HD 530 (Mobile Skylake) - Интегрированное решение, обычно не требует отдельного блока питания
HD 530 (Desktop Skylake) - Интегрированное решение, обычно не требует отдельного блока питания
R9 M290 - 300W
R9 M370X - 300W
R9 Fury - 600W
Iris Pro HD 6200 (Desktop) - Интегрированное решение, обычно не требует отдельного блока питания
R7 370 - 500W
R9 390X - 600W
R9 Fury-X - 600W
R9 380 - 500W
R9 390 - 600W
GTX 940M - Интегрированное решение, обычно не требует отдельного блока питания
Quadro K1200 - 300W
GTX 950M - 300W
GTX 960M - 300W
Iris Pro HD 6100 (Mobile) - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT625M - 300W
GeForce 830M - 300W
HD 6000 (Mobile) - Интегрированное решение, обычно не требует отдельного блока питания
GTX 965M - 300W
GTX Titan X - 600W
GeForce GT 710 - 300W
Quadro K5200 - 300W
GTX 960 - 400W
GeForce GTX 480M - 400W
GTX Titan Z (SLI Disabled) - 600W
GeForce GT 445M - 300W
GTX 970M - 300W
GeForce GT 415M - 300W
Core M HD 5300 - Интегрированное решение, обычно не требует отдельного блока питания
HD 5500 (Mobile 0.95 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
HD Graphics P4600 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 5700 - 500W
GTX 980M - 300W
GeForce 8800 Ultra - 450W
R9 285 - 500W
GTX 980 - 500W
GTX 970 - 500W
GTX 775M - 300W
Radeon HD 6250M - Интегрированное решение, обычно не требует отдельного блока питания
RemoteFX Graphics Device - WDDM - Зависит от конфигурации, обычно не требует отдельного блока питания
GeForce GTX 280M - 400W
GeForce GT 740 - 400W
Quadro FX 3450/4000 SDI - 300W
GeForce GT 705 - 300W
GeForce GT 720 - 300W
Quadro K2200 - 300W
Quadro K4200 - 400W
Quadro K620 - 300W
Quadro NVS 295 - 300W
GeForce GT 730 - 300W
Radeon HD 8760 - 400W
Radeon R3 Graphics - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 7800 GTX - 350W
FirePro V5800 (FireGL V) - 350W
FirePro M5100 (FireGL V) - 350W
Radeon R5 - 300W
GeForce GT 130 - 300W
GeForce 9700M GT - 300W
GeForce 8200 - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 7800 GS - 300W
GeForce GT 320 - 300W
Quadro FX 1500 - 350W
GeForce 9800M GTS - 300W
GeForce G210 - 300W
GeForce 7100 GS - 300W
Quadro 4000M - 300W
Radeon HD 2600 - 300W
Mobility Radeon X1300 - Интегрированное решение, обычно не требует отдельного блока питания
Quadro K5000M - 300W
GTX 780 4GB - 600W
Quadro K5100M - 300W
Radeon HD 4850-X2 - 450W
Mobility Radeon HD 6370 - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 9500 GS - 300W
Radeon HD 7350 - 300W
Radeon HD 7610M - 300W
Quadro FX 3700 - 300W
Radeon HD 7650M - 300W
GeForce 9300 GS - 300W
GTX 760 Ti OEM - 450W
Radeon HD 7400G - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 710M - 300W
Mobility Radeon HD 3670 - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 335M - 300W
GeForce GTX 285M - 300W
R9 295X2 (CrossFire Disabled) - 650W
GeForce 305M - Интегрированное решение, обычно не требует отдельного блока питания
NVS 310 - 300W
Radeon HD 8370D - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 7900 GTX - 350W
GeForce GT620M - 300W
GeForce GTX 555 - 450W
GeForce 8400M GT - 300W
GeForce GTX 560 SE - 450W
Mobility FireGL V5700 - Интегрированное решение, обычно не требует отдельного блока питания
Quadro FX 5800 - 450W
GTX 870M - 300W
GeForce 7150M / nForce 630M - Интегрированное решение, обычно не требует отдельного блока питания
FirePro M6100 (FireGL V) - 300W
Mobility Radeon HD 2600 - Интегрированное решение, обычно не требует отдельного блока питания
Quadro K1100M - 300W
Mobility Radeon HD 3870-X2 (Crossfire Disabled) - 450W
Quadro FX 3700M - 300W
GeForce GT 420 - 300W
Mobility Radeon HD 530v - Интегрированное решение, обычно не требует отдельного блока питания
GTX 675MX - 300W
GeForce GTX 570M - 300W
Quadro FX 3500 - 300W
Quadro NVS 440 - 300W
NVS 510 - 300W
GeForce 315M - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GTX 485M - 300W
Radeon HD 6370M - Интегрированное решение, обычно не требует отдельного блока питания
4 Series Internal Chipset - Интегрированное решение, обычно не требует отдельного блока питания
Mobility Radeon HD 2600-XT - Интегрированное решение, обычно не требует отдельного блока питания
Radeon 3100 Graphics - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 545 - 300W
Radeon HD 6300M - Интегрированное решение, обычно не требует отдельного блока питания
R9 M290X - 300W
GeForce 6150 - Интегрированное решение, обычно не требует отдельного блока питания
FirePro 2260 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 8570 - 300W
GeForce 9600M-GS - 300W
HD 8240 - Интегрированное решение, обычно не требует отдельного блока питания
Quadro FX 3600M - 300W
GeForce 9800M-GS - 300W
Quadro 5000 - 450W
Radeon HD 8470D - Интегрированное решение, обычно не требует отдельного блока питания
GTX 760M - 300W
Radeon HD 7600M - 300W
GeForce 820M - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 7500G - Интегрированное решение, обычно не требует отдельного блока питания
Quadro FX 570M - Интегрированное решение, обычно не требует отдельного блока питания
Radeon X1600 - Интегрированное решение, обычно не требует отдельного блока питания
Quadro FX 3800M - 300W
GTX 760 (192-bit) - 450W
Quadro 400 - 300W
Radeon HD 8510G - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 130M - 300W
Radeon HD 7470M - 300W
GeForce 9650M-GT - 300W
GeForce 8800 GTX - 450W
GeForce 7025 / nForce 630a - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 6550D - Интегрированное решение, обычно не требует отдельного блока питания
GTX 560 Ti-OEM - 450W
GeForce 310 - 300W
GeForce Go 7900 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 7310 - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 410M - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 6730M - 300W
GeForce 6100 - Интегрированное решение, обычно не требует отдельного блока питания
Quadro FX 1700 - 300W
GTX 850M - 300W
GeForce GTS 360M - 300W
Radeon HD 8570D - Интегрированное решение, обычно не требует отдельного блока питания
GTX 460 v2 - 450W
Quadro K5000 - 450W
GeForce 9200M GS - Интегрированное решение, обычно не требует отдельного блока питания
FirePro M8900 - 300W
Radeon X1300 - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 8400M G - Интегрированное решение, обычно не требует отдельного блока питания
FirePro V7900 (FireGL V) - 300W
Radeon HD 7340 - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GTX 645 - 300W
NVS 300 - 300W
GTX 680MX - 450W
Radeon HD 4550 - 300W
Quadro K4000M - 450W
GeForce GTS 240 - 400W
GeForce GT 420M - 300W
Quadro FX 380 - 300W
Radeon HD 8950 - 500W
R7 250E - 400W
GeForce G210M - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 525M - 300W
GTX 675M - 300W
Radeon HD 7560D - Интегрированное решение, обычно не требует отдельного блока питания
Iris Pro HD 5100 (Mobile 1.1 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 4770 - 450W
Radeon R7 Graphics - Интегрированное решение, обычно не требует отдельного блока питания
Quadro FX 1600M - 300W
GeForce 7300 SE - 300W
FirePro M7740 - 300W
Mobility Radeon X1600 - Интегрированное решение, обычно не требует отдельного блока питания
Mobility Radeon HD 545v - Интегрированное решение, обычно не требует отдельного блока питания
R7 250X - 450W
Radeon HD 7570 - 400W
GTX 680M - 300W
HD 7470 - 300W
GeForce GT 550M - 300W
HD 4200 (Mobile 0.85 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 6600 GT - 300W
GTX 860M - 300W
GeForce 840M - 300W
GeForce 7100 / nForce 630i - Интегрированное решение, обычно не требует отдельного блока питания
Quadro K3100M - 300W
GeForce Go 7400 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon X1650 - 300W
R7 240 - 400W
GeForce 6600 - 300W
GeForce GT 240M - 300W
HD P4000 (Server 1.25 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
FirePro V4800 (FireGL V) - 300W
Quadro K2000M - 300W
Mobility Radeon HD 4300 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 7520G - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 320M - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 8400M GS - Интегрированное решение, обычно не требует отдельного блока питания
HD 6970M - 400W
Mobility Radeon HD 2400 - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 7900 GS - 300W
GTX 880M - 300W
HD 5000 (Mobile 1.0/1.1 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 8610G - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 2600-PRO - 300W
GeForce 7600 GS - 300W
GeForce GTS 250M - 300W
Mobility Radeon HD 3400 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 6250 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 8400-R3 - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 7800 GT - 300W
GeForce GTX 280 - 400W
GeForce GT 530 - 300W
MOBILITY FireGL V5250 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 6630M - 300W
Quadro K2000 - 300W
Radeon X1550 - 300W
GeForce G105M - Интегрированное решение, обычно не требует отдельного блока питания
Quadro K3000M - 300W
NVS 5100M - 300W
GeForce 8600 GTS - 300W
Quadro NVS 320M - 300W
GeForce GT 520M - 300W
GeForce GT 435M - 300W
GeForce 610M - 300W
Quadro NVS 160M - Интегрированное решение, обычно не требует отдельного блока питания
HD 5830 - 450W
GeForce GT 635 - 300W
GeForce GT 230 - 300W
GeForce GTX 690 (SLI Disabled) - 650W
GeForce GTX 460M - 450W
Quadro FX 4600 - 300W
Radeon HD 2400-PRO - 300W
Radeon HD 6480G - Интегрированное решение, обычно не требует отдельного блока питания
R7 250 - 400W
GTX 560 Ti (448 Core LE) - 450W
GeForce GT 745M - 300W
Radeon HD 7670 - 400W
Radeon HD 6410D - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 8600M GS - Интегрированное решение, обычно не требует отдельного блока питания
Iris Pro HD 5200 (V2 Mobile 1.2 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
Quadro FX 570 - 300W
Quadro 3000M - 300W
GeForce GT 555M - 300W
GeForce 7300 GT - 300W
Radeon HD 8330 - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 620 - 300W
Quadro FX 2800M - 300W
Radeon HD 4800 - 500W
GeForce GT 635M - 300W
Radeon HD 6620G - Интегрированное решение, обычно не требует отдельного блока питания
Q45/Q43 Express Chipset - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 5670 - 400W
Radeon HD 6320 - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 9800 GTX - 450W
Radeon HD 4200 - Интегрированное решение, обычно не требует отдельного блока питания
Quadro 600 - 300W
Quadro NVS 290 - 300W
GeForce 8600M GT - Интегрированное решение, обычно не требует отдельного блока питания
Quadro K600 - 300W
HD 4400 (Desktop 1.15 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 5400 - 300W
HD 6790 - 450W
Radeon HD 7450 - 300W
GeForce 310M - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 520MX - 300W
Mobility Radeon HD 5730 - 300W
GeForce GTX 590 (SLI Disabled) - 700W
HD 7730 - 450W
Quadro FX 4500 - 300W
GeForce 7600 GT - 300W
Radeon HD 8670D - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 230M - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 8800 GTS-512 - 400W
Iris Pro HD 5200 (V1 Mobile 1.15 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 540M - 300W
GTX 465 - 500W
Quadro FX 770M - 300W
GeForce 9400M - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GTX 295 (SLI Disabled) - 680W
HD 7990 (CrossFire Disabled) - 750W
Mobility Radeon HD 5850 - 300W
GeForce GTX 260M - 300W
FirePro V5900 (FireGL V) - 300W
GeForce 8800 GS - 300W
GeForce 7300 LE - 300W
NVS 4200M - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 4250 - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GTX 560M - 300W
GeForce 9400 GT - 300W
Quadro FX 1800 - 300W
GTX 670M - 300W
Mobility Radeon HD 4500 - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 240 - 300W
Quadro NVS 140M - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 5500 - 300W
Radeon HD 6500M - 300W
Radeon HD 7660D - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 750M - 300W
GeForce GT 720M - 300W
GeForce GT 640M - 300W
GeForce 8400 GS - 300W
GeForce 8200M G - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 8650G - Интегрированное решение, обычно не требует отдельного блока питания
NVS 5400M - Интегрированное решение, обычно не требует отдельного блока питания
HD 5970 (Crossfire Disabled) - 650W
Radeon HD 7640G - Интегрированное решение, обычно не требует отдельного блока питания
Mobility Radeon HD 3650 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 3300 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 2600-XT - 300W
Mobility Radeon HD 4670 - Интегрированное решение, обычно не требует отдельного блока питания
ION - Интегрированное решение, обычно не требует отдельного блока питания
EAH6770 - 450W
HD 7790 - 450W
Radeon HD 3870 - 300W
Display Adapter (WDDM) - Зависит от конфигурации, обычно не требует
GTX 670MX - 450W
GeForce Go 7600 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 4300 - 300W
FirePro M4000 - 300W
Radeon HD 7480D - Интегрированное решение, обычно не требует отдельного блока питания
Radeon 3000 Graphics - Интегрированное решение, обычно не требует отдельного блока питания
Mobility Radeon HD 4350 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 7500M - 300W
Radeon HD 4290 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 4650 - 300W
NVS 3100M - 300W
Quadro 1000M - 300W
Radeon HD 6750M - 300W
HD Graphics (G3 Pentium/Celeron 1.0/1.1 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
HD 8210 - Интегрированное решение, обычно не требует отдельного блока питания
HD 4890 - 500W
Mobility Radeon X1400 - Интегрированное решение, обычно не требует отдельного блока питания
Mobility Radeon HD 4570 - 300W
HD 2000 (Desktop 1.1 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 6450 - 300W
GeForce GTX 470 - 500W
Radeon HD 7400M - 300W
GeForce 9500 GT - 350W
Radeon HD 7660G - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 630M - 300W
FirePro 2270 - 300W
Quadro K2100M - 300W
HD 4870 - 450W
Radeon HD 7670M - 300W
GeForce 8800 GTS - 450W
Radeon HD 6310 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 6520G - Интегрированное решение, обычно не требует отдельного блока питания
Mobility Radeon HD 4250 - Интегрированное решение, обычно не требует отдельного блока питания
Quadro FX 3800 - 450W
Radeon HD 6290 - Интегрированное решение, обычно не требует отдельного блока питания
Quadro K1000M - 300W
Radeon HD 8550G - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 320M - 300W
Radeon HD 6530D - Интегрированное решение, обычно не требует отдельного блока питания
HD 2500 (Desktop 1.05 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
HD 5770 - 450W
GeForce GT 425M - 300W
Quadro NVS 450 - 300W
Radeon HD 4850 - 450W
HD Graphics (G4 Pentium/Celeron 1.05/1.15 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
HD 3650 - 300W
GeForce GT 440 - 300W
GeForce 7300 GS - 300W
Quadro FX 880M - 300W
Radeon HD 3450 - 300W
GeForce Go 7300 - 300W
GeForce 8500 GT - 300W
Quadro 2000M - 300W
Radeon HD 6490M - 300W
SVGA 3D - Зависит от конфигурации, обычно не требует отдельного блока питания
HD 6870 - 500W
Quadro FX 1800M - 300W
FirePro M6000 - 300W
Radeon HD 6700M - 300W
GeForce GT 520 - 300W
GeForce 6200 - 300W
GeForce GT 630 - 300W
Mobility Radeon HD 5470 - 300W
Radeon HD 6570 - 300W
GeForce 6150SE nForce 430 - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GTS 450 - 400W
Quadro FX 580 - 300W
GTX 780M - 300W
GeForce 9300M GS - 300W
Quadro NVS 135M - 300W
GeForce GTX 580M - 300W
Radeon HD 7540D - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 650M - 300W
HD Graphics (Clarkdale 0.733/0.9 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
HD 5750 - 450W
Radeon HD 6350 - 300W
Radeon HD 6700 - 450W
GTX 660M - 300W
Mobility Radeon X2300 - Интегрированное решение, обычно не требует отдельного блока питания
Quadro FX 2700M - 300W
Radeon HD 6770M - 300W
GeForce GT 430 - 300W
HD 6850 - 450W
GTX 765M - 300W
HD 6990 (Crossfire Disabled) - 750W
GeForce GTS 250 - 400W
GeForce 210 - 300W
GeForce GT 330M - 300W
HD 3000 (Desktop V1 1.1 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 6670 - 400W
GeForce GT 220 - 300W
GeForce GT 610 - 300W
HD 5850 - 500W
GeForce GTX 285 - 550W
HD Graphics (G2 Pentium/Celeron 1.1/1.15 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
G41 Express Chipset - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 640 - 300W
Quadro K4000 - 400W
G45/G43 Express Chipset - Интегрированное решение, обычно не требует отдельного блока питания
GeForce GT 755M - 300W
Radeon HD 3800 - 300W
GTX 770M - 300W
GeForce GT 220M - 300W
HD Graphics (Bay Trail 0.667 - 0.854 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
GeForce 8800 GT - 400W
HD 7750 - 400W
Radeon HD 5450 - 300W
GeForce 9800 GT - 400W
HD 6970 - 500W
HD 7770 - 450W
Quadro 2000 - 300W
GeForce 9600M-GT - 300W
Radeon HD 3200 - Интегрированное решение, обычно не требует отдельного блока питания
Radeon HD 6770 - 500W
GTX 460 SE - 450W
HD Graphics (Arrandale 0.667/0.766 GHz) - Интегрированное решение, обычно не требует отдельного блока питания
Quadro 4000 - 400W
