<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Оцінка продуктивності та вартості ігрового ПК</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <h1>Оцінка продуктивності та вартості ігрового ПК</h1>
    <h2>Інформація</h2>
    <h3>Джерела даних парсингу</h3>
    <p style="text-align: left;">Програма використовує такі ресурси:</p>
    <ul>
        <li style="text-align: left;">
            <a href="https://www.userbenchmark.com/" target="_blank">UserBenchmark</a> – сайт із середніми показниками продуктивності комплектуючих. У нашій програмі використовуються дані про продуктивність процесорів і відеокарт. Продуктивність відеокарт залежить від процесора, і ресурс містить інформацію про потенційну залежність відеокарти від процесора.
        </li>
        <li style="text-align: left;">
            <a href="https://hotline.ua/" target="_blank">Hotline</a> – портал українських постачальників комплектуючих.
    </ul>
    <h3>Операції програми</h3>
    <p style="text-align: left;">
        При натисканні кнопки
        <button type="button" onclick="location.href='/operations'">запуск опервацій</button>
        будуть доступні такі процеси:
    </p>

    <ul>
        <li style="text-align: left;">1. Оновити CPU Benchmark</li>
        <li style="text-align: left;">2. Оновити GPU Benchmark</li>
        <li style="text-align: left;">3. Додати дані потужностей блоків живлення</li>
        <li style="text-align: left;">4. Оновити Hotline</li>
        <li style="text-align: left;">5. Створити список ПК</li>
        <li style="text-align: left;">6. Зберегти звіт в Excel</li>
    </ul>
    <h3>Оновлення CPU та GPU Benchmark</h3>
    <p style="text-align: left;">Команди "Оновити CPU Benchmark" і "Оновити GPU Benchmark" завантажують нові резуьтати тестів процесорів і відеокарт із порталу UserBenchmark. В базі даних програми вже є оновлення на 05 лютого 2025 року, і нові позиції з'являються рідко, тому виконувати цю операцію регулярно не обов’язково.</p>
    <p style="text-align: left;">За замовчуванням оновлюється лише перша сторінка, відсортована за датою випуску нових моделей. Якщо потрібно переглянути всі сторінки або більше однієї, це можна змінити у файлі application.properties. Значення -1 означає перегляд усіх сторінок.</p>
    <p style="text-align: left;">UserBenchmark не має API для швидкого завантаження. Важливо враховувати, що сайт використовує захист і періодично змінює CSS-селектори, тому з часом ці два пункти можуть перестати працювати і видавати помилку парсингу.</p>
    <p style="text-align: left;">Парсинг даних цих розділів реалізований за допомогою Selenium, щоб обійти перевірку на бота. Запити виконуються повільно в однопоточному режимі, імітуючи дії користувача. Такий підхід забезпечує успішний парсинг.</p>
    <h3>Додати дані потужностей блоків живлення</h3>
    <p style="text-align: left;">Інформація про відеокарти на UserBenchmark не включає дані про необхідну потужність блоку живлення. Якщо програма оновлює список відеокарт, потрібно вручну додати потужність блоків живлення, натиснувши кнопку "Додати дані потужності блоків живлення". Цей пункт додає блоки живлення в базу даних GPU Benchmark і далі буде використовуватись в пункті "Створити список ПК". Якщо у вас нема нових позицій відеокарт цей пункт можна не використовувати. Для повсягденного використання рекомендуєм використовувати останні три пункти.</p>
    <h3>Оновлення даних Hotline</h3>
    <p style="text-align: left;">Ця операція завантажує необхідні комплектуючі для збирання ПК в базу даних. Сайт Hotline не підтримує швидке завантаження через API, але не має захисту від бота. Тож програма завантажує дані швидше, але вимушена робити паузи щоб зменшити збої читання</p>
    <ul>
        <li style="text-align: left;">Дані завантажуються швидше, ніж з UserBenchmark, оскільки використовуються багатопотокові запити. Для парсингу використовується Jsoup.</li>
        <li style="text-align: left;">При оновленні програма видаляє попередні дані і замінює їх новими.</li>
        <li style="text-align: left;">Швидке завантаження може призвести до збоїв, тому затримки відкриття сторінок регулюються через application.properties.</li>
    </ul>
    <h3>Створення списку ПК</h3>
    <p style="text-align: left;">Програма виконує такі кроки:</p>
    <ol>
        <li style="text-align: left;">Поєднує результати тестів UserBenchmark із завантаженими даними Hotline (це стосується процесорів та відеокарт).</li>
        <li style="text-align: left;">Підбирає до процесорів сумісні материнські плати за сокетом і чипсетом, який відповідає потребам живлення процессора.</li>
        <li style="text-align: left;">До материнських плат підбирає відповідну оперативну пам’ять.</li>
        <li style="text-align: left;">Визначає блоки живлення, враховуючи потужність відеокарти та рекомендації виробника.</li>
        <li style="text-align: left;">Якщо процесор без вентилятора, програма враховує додатковий бюджет на його покупку.</li>
        <li style="text-align: left;">Вартість корпусу залежить від потужності процесора і відеокарти – чим вища їхня потужність, тим дорожчий рекомендований корпус.</li>
        <li style="text-align: left;">У розрахунку використовується SSD на 1 ТБ та 16 ГБ оперативної пам’яті.</li>
        <li style="text-align: left;">Програма формує список збірок і розраховує:</li>
        <ul>
            <li style="text-align: left;">Середню мінімальну вартість ПК.</li>
            <li style="text-align: left;">Максимально ефективні збірки, позначаючи їх прапорцем BEST_PRICE.</li>
            <li style="text-align: left;">Вартість за 1 FPS, записуючи у колонку Price per FPS.</li>
            <li style="text-align: left;">Очікувану продуктивність відеокарт з урахуванням процесора у колонці Prediction FPS FHD.</li>
            <li style="text-align: left;">Дані про тест відеокарт і процесорів у відповідних колонках.</li>
        </ul>
    </ol>
    <p style="text-align: left;">Якщо для якоїсь комплектуючої відсутні тести, ціни або дані про потрібну потужність блок живлення для відеокарти, ця комплектуюча не потрапляє до списку. Тож процесори та відеокарти, які знайшов хотлайн але на них нема данихв в UserBenchmark не попадають в тест.</p>
    <h3>Збереження звіту в Excel</h3>
    <p style="text-align: left;">Програма зберігає всі дані у таблиці Excel, що спрощує аналіз та фільтрацію. <span style="font-weight: bold; background-color: yellow;">Файл зберігається у папці "Мої документи"</span> під назвою:</p>
    <p style="text-align: left;"><span style="font-weight: bold; background-color: yellow;"><i>pc_configuration_2025-02-05_13-52.xlsx</i></span></p>

    <p style="text-align: left;">(Дата і час автоматично формуються при збереженні.)</p>
    <p style="text-align: left;">Щоб вибрати найкращі збірки, в Excel можна встановити фільтр за колонкою BEST_PRICE і порівняти їх між собою.</p>
    <button type="button" onclick="location.href='/operations'">Перейти до операцій</button>
</div>
</body>
</html>
